.base {
	margin-top: -10px
}

.body {
	background: #EAEDF1
}

button.cells:focus {
	outline: none !important;
}

.cells {
	width: 100px;
	height: 100px;
	outline: none;
}

.date {
	/*font-family: 'Arsenal', sans-serif;*/
	/*font-family: 'Hind', sans-serif;*/
	/*font-family: 'Fira Sans', sans-serif;*/
	font-family: 'Catamaran', sans-serif;


}

.food-thumbnail-for-modal {
	margin-top: -15px;
}

.list-group-item {
	position: relative;
}

.measures-list {
	position: absolute;
	width: 80vw;
	z-index: 1;
}

.outline {
	border: 2px solid #fff;
	border-radius: 30px;
	height: 30px;
	margin-left: -10px;
	margin-top: 10px;
	padding: 0 5px 0 5px;
}

.progress {
	/*margin-left: -10px;*/
	margin-top: 5px;
}

.progress-bar {
	box-shadow: none;
	/*background: #2BC253;*/
}

.search-results {
	z-index: 1;
}

.slider-div {
	display: flex;
	justify-content: center;
}

.slider {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
