.base {
	margin-top: -10px
}

.body {
	background: #EAEDF1
}

button.cells:focus {
	outline: none !important;
}

.cells {
	width: 100px;
	height: 100px;
	outline: none;
}

.date {
	/*font-family: 'Arsenal', sans-serif;*/
	/*font-family: 'Hind', sans-serif;*/
	/*font-family: 'Fira Sans', sans-serif;*/
	font-family: 'Catamaran', sans-serif;


}

.progress-bar {
	box-shadow: none;
	/*background: #2BC253;*/
}

.slider-div {
	display: flex;
	justify-content: center;
}

.slider {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
